.container {
  border: 1px solid var(--secondary);
  padding: 1rem;
}

.year {
  text-align: center;
  margin-bottom: 0.5rem;
}

.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.625rem;
  text-align: end;
  font-size: 1.1rem;
}
