* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary: #08161b;
  --secondary: #839496;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}